.card {
  height: 120px;
  background: rgba(147, 187, 216, .5);
  cursor: pointer;
  transition: all .3s ease-in-out;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}

.card:hover {
	transform: scale(1.15);
}

img {
  width: 60%;
}
